<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="www.dgl.com.androidfive">


    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="www.dgl.com.androidfive.RecycleViewActivity"
            android:theme="@style/AppTheme.Base">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="www.dgl.com.androidfive.CardViewActivity"
            android:label="CardViewActivity"
            android:theme="@style/AppTheme.Base"></activity>
        <activity
            android:name="www.dgl.com.androidfive.ToolBarActivity"
            android:theme="@style/AppTheme.Base"></activity>
        <activity
            android:name="www.dgl.com.androidfive.RippleEffectActivity"
            android:label="RippleEffectActivity"
            android:theme="@style/AppTheme.Base"></activity>
        <activity
            android:name="www.dgl.com.androidfive.TabLayoutActivity"
            android:label="TabLayoutActivity"
            android:theme="@style/AppTheme.Base"></activity>
        <activity
            android:name="www.dgl.com.androidfive.MaterialDesignActivity"
            android:label="MaterialDesignActivity"
            android:theme="@style/AppTheme.Base"></activity>
        <activity
            android:name="www.dgl.com.androidfive.charts.ChartsAcitivty"
            android:label="line"></activity>
        <activity
            android:name="www.dgl.com.androidfive.charts.PieChartActivity"
            android:label="pie"></activity>
        <activity
            android:name="www.dgl.com.androidfive.charts.PieChartActivityT"
            android:label="pie"></activity>
        <activity android:name="www.dgl.com.androidfive.brage.BrageActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ProgressbarActivity"
            android:label="pie"></activity>
        <activity
            android:name="com.vonchenchen.menudemo.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="menuMainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>